<div class="row wrapper border-bottom white-bg page-heading"></br>
    <a href="/" class="col-lg-4 col-lg-offset-4"><img src="<%= image_path 'logo.png'%>"></img></a>
    <!--<h1 class="text-center m">Crown & Caliber | Big Board</h1>-->
</div>
<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h4 class="text-center m">
                <%= @report_date.strftime("As of: %m/%d/%Y") %>
            </h4>
        </div>
        <div class="col-md-4">
            <div class="text-right">
                <!--< %= link_to 'Log Out', class: 'text-primary', destroy_user_session_path, :method => :delete %>-->
            </div>
        </div>
    </div>
    <div class="slick_slider">
        <div>
            <div class="ibox-content">
               <%= render 'pages/slides/general_info'%> 
            </div>
        </div>
        <div>
            <div class="ibox-content">
                <%= render 'pages/slides/marketing' %>
            </div>
        </div>
        <div>
            <div class="ibox-content">
                <%= render 'pages/slides/procurement' %>
            </div>
        </div>
        <div>
            <div class="ibox-content">
                <%= render 'pages/slides/partner'%>
            </div>
        </div>
        <div>
            <div class="ibox-content">
                <%= render 'pages/slides/birthday'%>
            </div>
        </div>
        <!--<div>-->
        <!--    <div class="ibox-content">-->
        <!--        < %= render 'pages/slides/new_york_office'%>-->
        <!--    </div>-->
        <!--</div>-->
        <div>
            <div class="ibox-content">
                <%= render 'pages/slides/tweets'%>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

<script>





// myIframe.addEventListener("load", onLoad);
window.onload = function () {
    var myIframe = document.getElementById('twitter-widget-1');
    var innerDoc = myIframe.contentDocument || myIframe.contentWindow.document;
    var list = innerDoc.getElementsByClassName('timeline-TweetList-tweet');
    var i = 0; 
    
    function timeout() {
        setTimeout(function () {
            if (myIframe.parentElement.parentElement.parentElement === document.getElementsByClassName('slick-current')[0]) {
                item = list[i];
                i += 1;
                if (i === list.length){
                    i = 0;
                }
                
                item.scrollIntoView();
            }
            timeout();
        }, 5000);
    }
    
    timeout();

}
$(function() {
    
    !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
        	js=d.createElement(s);
        	js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
        	fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document,"script","twitter-wjs");

    
    function refreshAt(hours, minutes, seconds) {
        var now = new Date();
        var then = new Date();
    
        if(now.getHours() > hours ||
           (now.getHours() == hours && now.getMinutes() > minutes) ||
            now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
            then.setDate(now.getDate() + 1);
        }
        then.setHours(hours);
        then.setMinutes(minutes);
        then.setSeconds(seconds);
    
        var timeout = (then.getTime() - now.getTime());
        setTimeout(function() { window.location.reload(true); }, timeout);
    };
    
    refreshAt(10,00,0);
    refreshAt(12,00,0);
    refreshAt(15,00,0);
    refreshAt(16,00,0);
    refreshAt(17,30,0);
        
    $('.slick_slider').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 10000,
        speed: 1000,
        adaptiveHeight: true,
    });
    
    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
    var d2 = [[1262304000000, 7535], [1264982400000, 22888], [1267401600000, 42933], [1270080000000, 58248], [1272672000000, 62393], [1275350400000, 66670], [1277942400000, 75818], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

    var lineData = {
        labels: <%= @xaxis %> ,
        datasets: [
            {
                label: "Budget",
                fillColor: "rgba(155,155,155,0.5)",
                strokeColor: "rgba(155,155,155,1)",
                pointColor: "rgba(155,155,155,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(155,155,155,1)",
                data: <%= @nr_budget %>
            },
            {
                label: "Actual",
                fillColor: "rgba(255,90,0,0.5)",
                strokeColor: "rgba(255,90,0,0.7)",
                pointColor: "rgba(255,90,0,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: <%= @nr_actual %>
            }
        ]
    };

    var lineOptions = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        bezierCurve: true,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
    
    // var data1 = [
    //     { label: "Data 1", data: d1, color: '#d35400' },
    //     { label: "Data 2", data: d2, color: '#d36930' }
    // ];
    // $.plot($("#flot-chart3"), data1, {
    //     xaxis: {
    //         tickDecimals: 0
    //     },
    //     series: {
    //         lines: {
    //             show: true,
    //             fill: true,
    //             fillColor: {
    //                 colors: [{
    //                     opacity: 1
    //                 }, {
    //                     opacity: 1
    //                 }]
    //             },
    //         },
    //         points: {
    //             width: 0.1,
    //             show: false
    //         },
    //     },
    //     grid: {
    //         show: false,
    //         borderWidth: 0
    //     },
    //     legend: {
    //         show: false,
    //     }
    // });
    
    // Marketing
    
    // var data2 = [
    //     { label: "Data 1", data: d1, color: '#c88315' },
    //     { label: "Data 2", data: d2, color: '#c17300' }
    // ];
    // $.plot($("#flot-chart3"), data2, {
    //     xaxis: {
    //         tickDecimals: 0
    //     },
    //     series: {
    //         lines: {
    //             show: true,
    //             fill: true,
    //             fillColor: {
    //                 colors: [{
    //                     opacity: 1
    //                 }, {
    //                     opacity: 1
    //                 }]
    //             },
    //         },
    //         points: {
    //             width: 0.1,
    //             show: false
    //         },
    //     },
    //     grid: {
    //         show: false,
    //         borderWidth: 0
    //     },
    //     legend: {
    //         show: false,
    //     }
    // });
    
    // Procurement
    
     c3.generate({
        bindto: '#slineChart',
        data:{
            columns: [
                <%= raw @npr_actual %>,
                <%= raw @npr_budget %>
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format('$,')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });
    
    c3.generate({
        bindto: '#slineChart2',
        data:{
            columns: [
                <%= raw @np_actual %>,
                <%= raw @np_budget %>
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format('$,')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });
    
     c3.generate({
        bindto: '#gauge',
        data:{
            columns: [
                ['Win Rate', <%= @win_rate %>]
            ],

            type: 'gauge'
        },
        gauge: {
            min: 0,
            max: 100
        },
        color:{
            pattern: ['#ff5a00', '#9b9b9b']

        }
    });
    
    $("#sparkline1").sparkline(<%= raw @dpp %>, {
        type: 'line',
        width: '100%',
        height: '60',
        lineColor: '#ff5a00',
        fillColor: "#ffffff"
    });
    
    // Partner
    
     c3.generate({
        bindto: '#slineChart3',
        data:{
            columns: [
                <%= raw @pnr_actual %>,
                <%= raw @pnr_budget %>
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format('$,')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });
    
     c3.generate({
        bindto: '#slineChart4',
        data:{
            columns: [
                <%= raw @now_actual %>,
                <%= raw @now_budget %>
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format(',')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });
    
});

</script>

<% end %>