<div class="row wrapper border-bottom white-bg page-heading">
    <h1 class="text-center m">Crown & Caliber | Big Board</h1>
</div>
<!--<div class="wrapper wrapper-content">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-10 col-lg-offset-1">-->
            <div class="ibox">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h4 class="text-center m">
                            <%= @report_date.strftime("As of: %m/%d/%Y") %>
                            <!--< %= @xaxis %>-->
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right">
                            <!--< %= link_to 'Log Out', class: 'text-primary', destroy_user_session_path, :method => :delete %>-->
                        </div>
                    </div>
                </div>
                <div class="slick_slider">
                    <div>
                        <div class="ibox-content">
                           <%= render 'pages/slides/general_info'%> 
                        </div>
                    </div>
                    <!--<div>-->
                    <!--    <div class="ibox-content">-->
                    
                    <!--    </div>-->
                    <!--</div>-->
                    <div>
                        <div class="ibox-content">
                            <%= render 'pages/slides/marketing' %>
                        </div>
                    </div>
                    <!--<div>-->
                    <!--    <div class="ibox-content">-->
                    <!--        <h2>Emails</h2>-->
                    <!--        <p>-->
                    <!--            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem-->
                    <!--            Ipsum has been the industry's standard dummy text ever since the 1500s, when an-->
                    <!--            unknown printer took a galley of type and scrambled it to make a type specimen-->
                    <!--            book. It has survived not only five centuries, but also the leap.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div>
                        <div class="ibox-content">
                            <%= render 'pages/slides/procurement' %>
                        </div>
                    </div>
                    <!--<div>-->
                    <!--    <div class="ibox-content">-->
                    <!--        <h2>Operations</h2>-->
                    <!--        <p>-->
                    <!--            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem-->
                    <!--            Ipsum has been the industry's standard dummy text ever since the 1500s, when an-->
                    <!--            unknown printer took a galley of type and scrambled it to make a type specimen-->
                    <!--            book. It has survived not only five centuries, but also the leap.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div>
                        <div class="ibox-content">
                            <%= render 'pages/slides/partner'%>
                        </div>
                    </div>
                    <div>
                        <div class="ibox-content">
                            <%= render 'pages/slides/birthday'%>
                        </div>
                    </div>
                    <!--<div>-->
                    <!--    <div class="ibox-content">-->
                    <!--        <h2>This Month's Birthdays and Anniversaries</h2>-->
                    <!--        <p>-->
                    <!--            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem-->
                    <!--            Ipsum has been the industry's standard dummy text ever since the 1500s, when an-->
                    <!--            unknown printer took a galley of type and scrambled it to make a type specimen-->
                    <!--            book. It has survived not only five centuries, but also the leap.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<div>-->
                    <!--    <div class="ibox-content">-->
                    <!--        <h2>Instagram</h2>-->
                    <!--        <p>-->
                    <!--            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem-->
                    <!--            Ipsum has been the industry's standard dummy text ever since the 1500s, when an-->
                    <!--            unknown printer took a galley of type and scrambled it to make a type specimen-->
                    <!--            book. It has survived not only five centuries, but also the leap.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<div>-->
                    <!--    <div class="ibox-content">-->
                    <!--        <h2>Twitter</h2>-->
                    <!--        <p>-->
                    <!--            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem-->
                    <!--            Ipsum has been the industry's standard dummy text ever since the 1500s, when an-->
                    <!--            unknown printer took a galley of type and scrambled it to make a type specimen-->
                    <!--            book. It has survived not only five centuries, but also the leap.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem-->
                    <!--            Ipsum has been the industry's standard dummy text ever since the 1500s, when an-->
                    <!--            unknown printer took a galley of type and scrambled it to make a type specimen-->
                    <!--            book. It has survived not only five centuries, but also the leap.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem-->
                    <!--            Ipsum has been the industry's standard dummy text ever since the 1500s, when an-->
                    <!--            unknown printer took a galley of type and scrambled it to make a type specimen-->
                    <!--            book. It has survived not only five centuries, but also the leap.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
        <!--    </div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<% content_for :javascript do %>

<script>

$(function() {
    
    function refreshAt(hours, minutes, seconds) {
        var now = new Date();
        var then = new Date();
    
        if(now.getHours() > hours ||
           (now.getHours() == hours && now.getMinutes() > minutes) ||
            now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
            then.setDate(now.getDate() + 1);
        }
        then.setHours(hours);
        then.setMinutes(minutes);
        then.setSeconds(seconds);
    
        var timeout = (then.getTime() - now.getTime());
        setTimeout(function() { window.location.reload(true); }, timeout);
    };
    
    refreshAt(10,00,0);
    refreshAt(12,00,0);
    refreshAt(15,00,0);

    $('.slick_slider').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 10000,
        speed: 1000,
        adaptiveHeight: true,
    });
    
    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
    var d2 = [[1262304000000, 7535], [1264982400000, 22888], [1267401600000, 42933], [1270080000000, 58248], [1272672000000, 62393], [1275350400000, 66670], [1277942400000, 75818], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

    var lineData = {
        labels: <%= @xaxis %> ,
        datasets: [
            {
                label: "Budget",
                fillColor: "rgba(155,155,155,0.5)",
                strokeColor: "rgba(155,155,155,1)",
                pointColor: "rgba(155,155,155,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(155,155,155,1)",
                data: <%= @nr_budget %>
            },
            {
                label: "Actual",
                fillColor: "rgba(255,90,0,0.5)",
                strokeColor: "rgba(255,90,0,0.7)",
                pointColor: "rgba(255,90,0,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: [0,7535, 22888, 42933, 58248, 62393, 66270, 75818, 81412, 86797]
            }
        ]
    };

    var lineOptions = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        bezierCurve: true,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
    
    // var data1 = [
    //     { label: "Data 1", data: d1, color: '#d35400' },
    //     { label: "Data 2", data: d2, color: '#d36930' }
    // ];
    // $.plot($("#flot-chart3"), data1, {
    //     xaxis: {
    //         tickDecimals: 0
    //     },
    //     series: {
    //         lines: {
    //             show: true,
    //             fill: true,
    //             fillColor: {
    //                 colors: [{
    //                     opacity: 1
    //                 }, {
    //                     opacity: 1
    //                 }]
    //             },
    //         },
    //         points: {
    //             width: 0.1,
    //             show: false
    //         },
    //     },
    //     grid: {
    //         show: false,
    //         borderWidth: 0
    //     },
    //     legend: {
    //         show: false,
    //     }
    // });
    
    // Marketing
    
    // var data2 = [
    //     { label: "Data 1", data: d1, color: '#c88315' },
    //     { label: "Data 2", data: d2, color: '#c17300' }
    // ];
    // $.plot($("#flot-chart3"), data2, {
    //     xaxis: {
    //         tickDecimals: 0
    //     },
    //     series: {
    //         lines: {
    //             show: true,
    //             fill: true,
    //             fillColor: {
    //                 colors: [{
    //                     opacity: 1
    //                 }, {
    //                     opacity: 1
    //                 }]
    //             },
    //         },
    //         points: {
    //             width: 0.1,
    //             show: false
    //         },
    //     },
    //     grid: {
    //         show: false,
    //         borderWidth: 0
    //     },
    //     legend: {
    //         show: false,
    //     }
    // });
    
    // Procurement
    
     c3.generate({
        bindto: '#slineChart',
        data:{
            columns: [
                ['Actual', 0, 7527, 22471, 38854, 51382, 54200, 56791, 65230, 70274, 72839],
                ['Budget', 0, 5529, 11059, 16588, 22117, 27647, 33176, 38705, 44235, 49764]
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format('$,')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });
    
    c3.generate({
        bindto: '#slineChart2',
        data:{
            columns: [
                ['Actual', 0, 5080, 15036, 19108, 24885, 24885, 24885, 36372, 45005, 50944],
                ['Budget', 0, 12255, 24510, 36765, 49020, 61275, 73530, 85785, 98039, 110294]
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format('$,')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });
    
     c3.generate({
        bindto: '#gauge',
        data:{
            columns: [
                ['Win Rate', <%= @win_rate %>]
            ],

            type: 'gauge'
        },
        gauge: {
            min: 0,
            max: 100
        },
        color:{
            pattern: ['#ff5a00', '#9b9b9b']

        }
    });
    
    $("#sparkline1").sparkline([11, 13, 10, 13, 0, 0, 11,15,14], {
        type: 'line',
        width: '100%',
        height: '60',
        lineColor: '#ff5a00',
        fillColor: "#ffffff"
    });
    
    // Partner
    
     c3.generate({
        bindto: '#slineChart3',
        data:{
            columns: [
                ['Actual', 0, 8,	417,	4079,	6866,	8193,	9479,	10588, 11138, 13958],
                ['Budget', 0, 9947,	19893,	29840,	39787,	49734,	59680,	69627, 79576, 89523]
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format('$,')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });
    
     c3.generate({
        bindto: '#slineChart4',
        data:{
            columns: [
                ['Actual', 3956, 4007 ,3981, 3955, 3948, 3969, 3947, 3934, 4051, 4126],
                ['Budget', 3956, 4163 ,4371 ,4578, 4786, 4993, 5201, 5408, 5612, 5819]
            ],
            colors:{
                Actual: '#ff5a00',
                Budget: '#9b9b9b'
            },
            type: 'spline'
        },
        axis: {
          y: {
            tick: {
              format: d3.format(',')
              //or format: function (d) { return '$' + d; }
            }
          }
        }
    });

});

</script>

<% end %>