<h2>Marketing</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-envelope fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> E-mail List Size </span>
                    <h2 class="font-bold"><%= @emails %></h2></br>
                    <p class="label label-white"><i class="fa fa-bullseye"></i> <%= @emails_budget %></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> CPA </span>
                    <h2 class="font-bold">$<%= @cpa %></h2></br>
                    <p class="label label-white"><i class="fa fa-bullseye"></i> $<%= @cpa_budget %></p>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget yellow-bg no-padding">
            <div class="p-m">
                <h1 class="font-bold">$<%= number_with_delimiter(@net) %></h1>
        
                <h3 class="font-bold no-margins">
                    Net Revenue | <p class="label label-white"><i class="fa fa-bullseye"></i> $<%= number_with_delimiter(@net_budget) %></p>
                </h3>
                <small>Net of Returns</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="widget gray-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-mouse-pointer fa-4x"></i>
                <h1 class="m-xs"><%= number_with_delimiter(@sessions) %></h1>
                <h3 class="font-bold no-margins">
                    Sessions
                </h3>
                </br>
                <p class="label label-white"><i class="fa fa-bullseye"></i> <%= number_with_delimiter(@sessions_budget) %></p>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-users fa-4x"></i>
                <h1 class="m-xs"><%= number_with_delimiter(@unique) %></h1>
                <h3 class="font-bold no-margins">
                    Unique Visits
                </h3></br>
                <p class="label label-white"><i class="fa fa-bullseye"></i> <%= number_with_delimiter(@unique_budget) %></p>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="widget blue-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-percent fa-4x"></i>
                <h1 class="m-xs"><%= @rate %></h1>
                <h3 class="font-bold no-margins">
                    Site Conversion Rate
                </h3></br>
                <p class="label label-white"><i class="fa fa-bullseye"></i> <%= @rate_budget %></p>
            </div>
        </div>
    </div>
    
</div>